@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pane {
    @apply backdrop-blur bg-gray-800 rounded-md bg-clip-padding backdrop-filter bg-opacity-30 border border-gray-100;
  }

  .page-container {
    @apply mx-5 sm:mx-10 md:mx-20 lg:mx-36 xl:mx-60;
  }

  .link {
    @apply text-primary hover:underline hover:cursor-pointer;
  }

  .text-h1 {
    @apply text-7xl sm:text-9xl md:text-[9rem] lg:text-[9rem] xl:text-[9rem] 2xl:text-[12rem];
  }

  .text-h2 {
    @apply text-6xl md:text-8xl lg:text-[9rem] xl:text-[10rem] 2xl:text-[11rem];
  }

  .text-h3 {
    @apply text-4xl md:text-6xl lg:text-[7rem] xl:text-[8rem] 2xl:text-[9rem];
  }

  .text-h4 {
    @apply text-4xl md:text-5xl lg:text-8xl xl:text-8xl 2xl:text-9xl;
  }

  .text-h5 {
    @apply text-4xl md:text-5xl lg:text-7xl xl:text-7xl 2xl:text-8xl;
  }

  .text-h6 {
    @apply text-4xl md:text-4xl lg:text-5xl xl:text-5xl 2xl:text-7xl;
  }

  .text-h7 {
    @apply text-4xl md:text-5xl lg:text-6xl xl:text-6xl 2xl:text-6xl;
  }

  .text-h8 {
    @apply text-2xl sm:text-3xl md:text-3xl lg:text-3xl xl:text-3xl 2xl:text-5xl;
  }

  .text-p {
    @apply text-sm lg:text-sm xl:text-sm 2xl:text-lg;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
